@model ChatRoomsViewModels
@{
    Layout = null;
}

@if (Model.UserId == Model.NewMessage.UserId)
{
    <div class="incoming_msg">
        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
        <div class="received_msg">
            <div class="received_withd_msg">
                <span>@Model.NewMessage.usuario</span>
                <p>
                    @Model.NewMessage.mensaje
                </p>
                <span class="time_date"> @Model.NewMessage.fecha</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="outgoing_msg">
        <div class="sent_msg">
            <span>@Model.NewMessage.usuario</span>
            <p>
                @Model.NewMessage.mensaje
            </p>
            <span class="time_date">@Model.NewMessage.fecha</span>
        </div>
    </div>
}

